@{
    ViewBag.Title = "Home Page";
}


<head>
    <title>
        Home Page
    </title>
    <link rel="stylesheet" type="text/css" href="~/Content/CSS/HomeStyle.css">
</head>

<br />
<br />
<br />
<div class="alert alert-warning" role="alert" style="text-align:right"><i class="glyphicon glyphicon-warning-sign attention!"> Attention! A patient has requested an appointment and it needs approval.</i></div>

<br/>
<br />
<div class="row">
        <p>

                <div class="col-md-3" style="text-align:center">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" role="button" href="www.google.com">
                            <img src="~/Content/Images/Syringe.png" alt="Inventory" style="width:100px; height:100px" />
                            <br />Inventory &raquo;<i class="icon icon-caret-right"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>Add Vaccine</li>
                            <li>Modify Vaccine</li>
                            <li>Delete Vaccine</li>
                        </ul>
                </div>

            <div class="col-md-3" style="text-align:center">
                <a class="btn dropdown-toggle" data-toggle="dropdown" role="button" href="www.google.com">
                    <img src="~/Content/Images/Calendar.jpg" alt="Inventory" style="width:100px; height:100px" />
                    <br />Scheduling &raquo;
                </a>
            </div>

            <div class="col-md-3" style="text-align:center">
                <a class="btn dropdown-toggle" data-toggle="dropdown" role="button" href="www.google.com">
                    <img src="~/Content/Images/Document.png" alt="Inventory" style="width:100px; height:100px" />
                    <br />Grants &raquo;
                </a>
            </div>

            <div class="col-md-3" style="text-align:center">
                <a class="btn dropdown-toggle" data-toggle="dropdown" role="button" href="www.google.com">
                    <img src="~/Content/Images/User.png" alt="Inventory" style="width:100px; height:100px" />
                    <br />Users &raquo;
                </a>
            </div>

        </p>
    
</div>

<br />
<br />
<br />
<br />